*.class
*.gz
*.jar
*.o
*.so

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# These are required since running build.sh generates output in the source tree
# itself. If this gets fixed at some point, these rules can be removed.
dist/
src/agent/antlrgen
src/agent/internals/target
src/agent/internals-class-loader/target/
src/agent/internals_class_loader_static_defs.inl
src/agent/service-account-auth/target
src/agent/version.txt
src/codegen/target
src/codegen/*.cc
src/codegen/*.h
third_party/gflags*
third_party/glog*
third_party/install
third_party/jsoncpp*
